PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hiremind?schema=public"
JWT_SECRET="hiremind_jwt_secret_dev_key_2026_super_safe"
JWT_EXPIRES_IN="7d"
GEMINI_API_KEY=""
GOOGLE_CLIENT_ID=""
CLIENT_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"
